@import "../../app.scss";

.skills {
    padding-top: 7%;
    background: linear-gradient(180deg, #0c0c1d, #111132);

    @include mobile {
        padding-top: 20%;
    }
}

.section__title {
    font-size: 5.5rem;
    color: orange;

    @include mobile {
        font-size: 3.5rem;
    }
}

.section__subtitle {
    font-size: 2rem;
    @include mobile {
        font-size: 1.5rem;
    }
}

.skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;

    @include mobile {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

.skills__content {
    background-color: transparent;
    border: 1px solid white;
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    color: orange;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;

    .skills__name,
    .skills__level {
        color: or;
    }
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: orange;
}

.skills__name {
    font-size: var((--normla-font-size));
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}